<UserScriptConfig>
	<Script author="maxint &lt;NOT_SPAM_lnychina@gmail.com&gt;" basedir="ArcSoft_Jenkins" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Save forms etc." enabled="true" filename="ArcSoft_Jenkins.user.js" installTime="1467626236840" modified="1467626001627" name="ArcSoft Jenkins" namespace="http://maxint.github.io" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="f43c112c-1905-4c01-b93d-4ff17f0f46e6" version="7" installurl="https://raw.githubusercontent.com/maxint/userjs/master/ArcSoft_Jenkins/ArcSoft_Jenkins.user.js" updateurl="https://raw.githubusercontent.com/maxint/userjs/master/ArcSoft_Jenkins/ArcSoft_Jenkins.user.js">
		<Grant>none</Grant>
		<Include>http://abs02/jenkins/job/*/build*</Include>
		<Include>http://abs02/jenkins/view/*/job/*/build*</Include>
	</Script>
	<Script author="maxint &lt;NOT_SPAM_lnychina@gmail.com&gt;" basedir="docserver" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="An enhancement for Arcsoft project management system in http://doc-server" enabled="true" filename="doc-server-project-ms.user.js" installTime="1467626401905" modified="1467626001629" name="ArcSoft Project Management" namespace="http://maxint.github.io" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="e4f9125c-5e74-4966-ab9b-4b42091a477e" version="18" installurl="https://raw.githubusercontent.com/maxint/userjs/master/docserver/doc-server-project-ms.user.js" updateurl="https://raw.githubusercontent.com/maxint/userjs/master/docserver/doc-server-project-ms.user.js">
		<Grant>none</Grant>
		<Include>http://doc-server/*</Include>
		<Include>https://doc-server/*</Include>
		<Include>http://hz-delivery/ImageTECH/*</Include>
	</Script>
	<Script author="maxint &lt;NOT_SPAM_lnychina@gmail.com&gt;" basedir="notrack" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Disable track of search engine" enabled="true" filename="notrack.user.js" installTime="1467626412966" modified="1467632998533" name="No track" namespace="http://maxint.github.io" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="c0b955ea-c990-4f7a-b42a-718f07b13aa2" version="1" installurl="https://raw.githubusercontent.com/maxint/userjs/master/notrack/notrack.user.js" updateurl="https://raw.githubusercontent.com/maxint/userjs/master/notrack/notrack.user.js">
		<Grant>none</Grant>
		<Include>https://search.yahoo.com/yhs/search*</Include>
	</Script>
</UserScriptConfig>